*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
body::-webkit-scrollbar{
    display: none;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    background-color: #d0bdf4;
    position: sticky;
    top: 0;
    overflow: hidden;
}
.nav-bar:hover{
    background-color: #bfa2e0;
    transition: 0.3s;
}
.nav-bar #logo{
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #494d5f;      
}
.nav-bar #logo:hover{
    color: #fff;
    transition: 0.3s;
    background: none;
    padding: 0%;
}
.nav-bar ul li{
    font-family: "Pompiere", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;  
    margin: 0 3rem;
}
.nav-bar ul li:active{
    color: #fff;
    border-radius: 20px;
    padding: 9px 9px 9px 9px;
    color: #fff;
}
.nav-bar a:hover{
    background: #8188a6;
    color: #fff;
    transition: 0.3s;
    border-radius: 20px;
    padding: 9px 9px 9px 9px;
}
.nav-bar a.active{
    background: #494d5f;
    color: #fff;
    border-radius: 20px;
    padding: 9px 9px 9px 9px;
}
.nav-bar ul{
    display: flex;
    list-style-type: none;
}
.nav-bar ul a{
    color: #494d5f;  
}
main{
    flex-grow: 1;
    min-height: 100vh;
    width: calc(100%);
    background-image:  linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("../images/lucas-calloch-P-yzuyWFEIk-unsplash.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    background-attachment: fixed;
    padding-bottom: 100px;
    color: #fff;
}
.wrapper{
    display: flex;
    flex-grow: 1;
    gap: 40px;
}
.wrapper h1{
    font-family: 'Times New Roman', Times, serif;
    margin: 2rem;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 60px;
}
.wrapper p{
    font-family: "Pompiere", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 2rem;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}
.wrapper .Image1{
    border-radius: 20px;
    display: inline;
    height: 450px;
    margin-top: 100px;
    width: 550px;
}
footer{
    width: auto;
    height: 100px;
    background-color: #bfa2e0;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
footer .Socials{
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
}
footer .Socials a{
    display: inline;
    width: 40px;
    background: transparent;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    text-align: right;
    color: #494d5f; 
}
.footer-links{
    justify-content: space-between;
    text-align: start;
}
.footer-links a{
    padding-left: 10px;
    color: #494d5f; 
}
footer p{
    padding-top: 10px;
    color: #494d5f; 
}
@media(max-width: 576px){

    .nav-bar > button{
        display: block;
    }
    .nav-bar ul{
        display: none;
    }

    .nav-bar ul li{
        margin: 1rem 0;
    }
}  
