*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #494d5f;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    background-color: #d0bdf4;
    position: sticky;
    top: 0;
    overflow: hidden;
}
.nav-bar:hover{
    background-color: #bfa2e0;
    transition: 0.3s;
}
.nav-bar #logo{
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;      
}
.nav-bar #logo:hover{
    color: #fff;
    transition: 0.3s;
    background: none;
    padding: 0%;
}
.nav-bar ul li{
    font-family: "Pompiere", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;  
    color: #494d5f;
    border-radius: 20px;
    padding: 9px 9px 9px 9px;
}
.nav-bar ul li:active{
    color: #fff;
    border-radius: 20px;
    padding: 9px 9px 9px 9px;
    color: #fff;
}
.nav-bar a:hover{
    background: #8188a6;
    color: #fff;
    transition: 0.3s;
    border-radius: 20px;
    padding: 9px 9px 9px 9px;
}
.nav-bar a.active{
    background: #494d5f;
    color: #fff;
    border-radius: 20px;
    padding: 9px 9px 9px 9px;
}

ul{
    list-style-type: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li{
    margin: 0 3rem;
}
main{
    display: flex;
    flex-grow: 1;
}
footer{
    width: auto;
    height: 150px;
    background-color: #bfa2e0;
    display: flex;
    padding: 30px;
    margin-top  : 100px;
    justify-content: space-between;
}
footer .Socials a{
    display: inline;
    width: 40px;
    background: transparent;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    text-align: right;
}
